* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Product Sans";
}

/* Pushes "right" far right */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    margin:0.5em;
    
}
.dayButton {
    /*
    button surrounding each day, is invisible
    */
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    background: transparent;
    border: none ;
    color: rgb(0, 0, 0);
    outline: 0;
    padding: 0% 50% 5% 0% ;
    position: relative;
}


.buttonReminder {
    /*
    1
    ---> TEXT
    */
    display:inline-block;
    word-wrap: break-word !important;
    font-family: "Poppins", sans-serif;
    font-size: 1.8vh;
    padding-right: 170px;
    padding-bottom: 100px;
    color: rgb(0, 0, 0);
    position: absolute;
    line-height: .5;
    /* figure out how to make it collide with the boxes on the side */
}
.dayButton {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    background: transparent;
    border: none ;
    color: rgb(0, 0, 0);
    outline: 0;
    padding: 0% 50% 5% 0% ;
    position: relative;
}


/* button adjustments */
.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 200px;
    background-color: white;
    cursor: pointer;
    width: 40px;
    height: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #000000;
    margin: 10px;
    }
  /* For some reason, 
  doing h1.CalendarTitle{} or .CalendarTitle{}
  won't apply the big logo and font
  I've added it to h1 instead, and it shouldn't be 
  an issue since we're only using it on 
  the title, but if this does be an issue, should fix it
  will not put in issues tab though!
   */

/* makes days horizontal */
.days {
    /*Sun, Mon,*/
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 100%;
    font-size: 2.0vw;
    /*
    fontsize stays proprtional to the height of the viewport (size)
    */
}

.date { 
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    position: relative ;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
  } 

/* centers days */
.day {
    text-align: center;
    padding: 4%;
    font-size: 170%;
    color:rgb(51, 47, 47);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
}

.reminders {
    text-align: center;
    padding: 4%;
    font-size: 170%;
    color:rgb(51, 47, 47);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
}


table {
    /*Boxes around 1,2,3...*/
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    border-radius: 200px;
    width: 80%;
    position: relative;
    left: 10%;
    height: 50%;
    

}
  
td, th {
    /* 1,2,3 */
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    font-size: 100%;
    border: 2px solid rgba(96, 96, 96, .6);
    border-color: black;
    border-radius: 200px;
    padding: 0% 50% 5% 0% ; 
    position: relative;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    height: 800%;
}

/* Determine if this is needed or not */
/* .dayButton{
    font-weight:bold;
    margin-left: 10px;
    margin-top: 10px;

}

.prevdayButton{
    font-weight:bold;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 100%;
    color: #b9b7b7;


} */

#month{
    font-size: 200%;
    text-align: center;
    font-family: "Poppins", sans-serif;
 
}


.prevMonth {
    color: #b9b7b7;
}

#year {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 400%;
}



